html,
body {
    font-family: "Montserrat", sans-serif;
    color: #000;
    line-height: 1.4;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}





/* Screen reader only */
.sr-only {
    position: fixed;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

/* Button styling */
.menu-toggle {
    display: none;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    position: fixed;
    right: 0;
    top: 8px;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #000;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
    position: absolute;
    display: none;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 105;
}

.main-menu ul {
    list-style: none;
    margin-top: 20px;
    width: 100%;
    background-color: #FFFFFF;
    height: 140px;
    display: none;
    position: absolute;
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    margin: 0;
    width: 100%;
}


.main-menu a:hover,
.main-menu a:focus {
    background-color: #000;
    color: #fff;
}

.main-menu .menu-close {
    position: fixed;
    right: 0;
    top: 0;

}




header {
    padding: 20px;
    align-items: baseline;
}

article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
}

article h2 {
    font-weight: 500;
    font-size: 28px;
}

.logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;

}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default;
    margin-top: 40px;
}

@supports (position: fixed) {

    .main-menu,
    .main-menu:target,
    .main-menu[aria-expanded="true"] {
        position: fixed;
    }
}

h1 {
    font-size: 24pt;
    font-weight: 700;
    margin-top: 0px;
    text-transform: uppercase;
    color: #19343e;
}

#feature {
    text-align: center;
    margin: 40pt 0pt 0pt 0pt;
    padding-bottom: 100px;

}

@media (max-width: 800px) {
    .ihatecss {
        width: 100%;
        display: inline;
    }

    .section-container {}

    #utdlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40pt;
    }

    .left {
        width: 100%;
        margin: auto;
        clear: both;
    }

    .right {
        display: block;
        width: 100%;
        margin: auto 0px;
    }
}


@media (max-width: 720px) {


    #navlinks {
        display: none;
    }

    .menu-toggle {
        z-index: 105;
        display: inline-block;
    }

    #navtitle {
        font-size: 20pt;
        padding-left: 0px;
    }

    .main-menu ul {
        display: inline-block;
    }



    #arteca-logo {
        margin-left: auto;
        margin-right: auto;
    }

    #arteca {}
}




nav {
    margin-top: 40px;
}

a {

    text-decoration: none;
    color: #232326;
    padding: 24px;


}

.navlink:hover {
    background-color: #000;
    color: #fff;


}


#navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    border-bottom: 4px solid #1d00ff;
    background-color: #fff;
}

#navtitle {
    padding-top: 8px;
    float: left;
    padding-left: 40px;
}

#navlinks {
    list-style: none;
    padding: 12px;
    position: absolute;
    top: 0px;
    right: 4px;
    float: left;
    padding-right: 24px;
    font-weight: 700;
    text-transform: uppercase;

}

ul li {
    float: left;
    font-weight: 700;
    text-transform: uppercase;

}


#profile {
    margin-bottom: pt;
    border-radius: 50%;
}

#name {
    font-weight: 700;
    font-size: 40pt;
    display: block;
    margin-bottom: 0pt;
}



.tagline {
    font-weight: 700;
    font-size: 30pt;
    display: inline-block;
    margin-bottom: 20pt;
    text-transform: lowercase;
    margin-left: 20pt;
}

.projects {
    width: 100%;
    height: 40px;
    margin: 0pt;
    display: inline-block;
}

#emoji {
    width: 36px;
    margin-top: 12px;
    margin-left: 8px;
    display: inline;
    float: left;
}

.section-title {
    width: 100%;
}

.project-section {
    font-size: 28pt;
    font-weight: 300;
    height: auto;
    padding-top: 20pt;
    padding-bottom: 20pt;
    text-align: center;
}

#arteca {}

.project-title {
    font-size: 28pt;
    font-weight: 700;
    float: left;
    margin-left: 80pt;
    margin-top: 20pt;
    display: block;
    text-align: center;
}

#arteca-logo {
    clear: right;
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


#menu-list {
    padding-top: 32px;
    width: 100%;
    border-bottom: 4px solid #1d00ff;
    height: auto;
    margin-top: 0px;
    color: #ffffff;


}

.menu-list li {
    width: 100%;
    height: 50px;
}

.menu-list ul {
    width: 100%;
    height: 100px;

}



#section-title {
    width: 100%;
    display: block;
}

html {
    margin: 0;
    padding: 0;
}



.navlink {}

#main-menu-close {
    background-color: rgb(0, 0, 0, 0);
}


#taglines {
    padding-top: 20pt;

    padding-bottom: 2pt;
    padding-right: 4px;
}

.magentadot {
    color: #FF00FF;
}

.reddot {
    color: #F00;
    font-size: 36pt;
}

.yellowdot {
    color: #FFFF00;
    font-size: 36pt;
}

.cyandot {
    color: #00FFFF;
    font-size: 36pt;
}

#education {
    margin-top: 20pt;
    font-size: 40pt;
    font-weight: 700;
}

#utdallas {

    padding-bottom: 26.67px;
}

#utdlogo {
    margin: auto;
    display: block;
    margin-top: 24pt;
}


#education-description {
    margin-top: 20px;
    padding: 0px;
}

.normaler {}

#projectheader {
    font-size: 40pt;
    font-weight: 700;
}

#comptia {}





.learnmore {
    border: 2px solid #000;
    padding: 4px;
    border-radius: 4px;
    font-size: 20pt;
    display: block;
    width: 240px;
    margin: auto;
}

.learnmore:hover {
    background-color: black;
    color: #fee700;
}

.bolder {
    font-weight: 700;
}

#homelink {
    color: #000;
}



.menu-item {
    color: #000;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #000;
        color: #fff;
    }

    #navbar {
        background-color: #000;
    }



    .main-menu ul {
        background-color: #000;

    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #fff;
    }

    .menu-toggle {
        color: #fff;
    }

    .menu-item {
        color: #fff;
    }

    #homelink {
        color: #fff;
    }
}

.projectsection a {
    font-weight: 700;
}

#contact {
    font-weight: 700;
        font-size: 40pt;
}

.contact-links {
    font-size: 16pt;
    display: inline-block;
    color: #000;
}

.contact-links:hover {
    background-color: #000;
    color: #fff;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #3b3b3b;
        color: #eee;
    }

    #navbar {
        background-color: #3b3b3b;
    }



    .main-menu ul {
        background-color: #3b3b3b;

    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #eee;
    }
    
    #menu-list {
            border-bottom: 4px solid #a6aaf1;
    }
    
    
.main-menu a:hover,
.main-menu a:focus {
    background-color: #eee;
    color: #3b3b3b;
}


    .menu-toggle {
        color: #eee;
    }

    .menu-item {
        color: #eee;
    }

    #homelink {
        color: #eee;
    }
    .navlink {
        color: #eee;
    }
    .contact-links:hover {
    background-color: #eee;
    color: #3b3b3b;
}
    .navlink:hover {
    background-color: #eee;
    color: #3b3b3b;


}
    .reddot {
        color: #b43c29;
    }
    .contact-links {
        color: #eee;
    }
    #navbar {
            border-bottom: 4px solid #a6aaf1;
    }
}