body {
    font-family: "Fira Sans", sans-serif;
    color: #DDD;
    line-height: 1.4;
    height: 100%;
    width: 100%;
    
    background: rgb(49,39,214);
background: -moz-linear-gradient(90deg, rgba(49,39,214,1) 0%, rgba(9,80,121,1) 85%);
background: -webkit-linear-gradient(90deg, rgba(49,39,214,1) 0%, rgba(9,80,121,1) 85%);
background: linear-gradient(90deg, rgba(49,39,214,1) 0%, rgba(9,80,121,1) 85%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3127d6",endColorstr="#095079",GradientType=1);
}

#fixed {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 36pt;
    font-weight: 300;
    margin-top: 0px;
}

#feature {
    width: 480px;
    text-align: center;
    margin: 24px auto auto auto;
    position: relative;
    padding-bottom: 100px;

}


@media (max-width: 480px) {
    #feature {
        width: 100%;
    }
}



#links {
    margin-top: 40px;
}

a {
    color: #DDD;
    text-decoration: none;
    width: 200px;
    height: 20px;
    padding: 20px;
    margin: 8px;
    text-align: center;
    background-color: #023770;
        border-radius: 8px;
    



}

a:hover {
    background-color: #023D7D;

    box-shadow: 0.05em 0.05em 20px rgba(255, 255, 255, 0.3);

}

img {
    border-radius: 50%;
}
